
  
.demo {
    /* for IE10+ touch devices */
    touch-action:none;
}

.jtk-demo-canvas {    
    height:550px;
    /*max-height:700px;
    border:1px solid #CCC;
    background-color:white;*/
    display: flex;
    position:absolute;
    top:5px;
}
.canvas-wide {
    margin-left:0;
}

/** JSPLUMB ARTEFACTS **/
.jtk-overlay {
    z-index: 51;
}

.jtk-endpoint {
    z-index: 50;
    cursor: move;
}

.jtk-connector {
    z-index: 1;
}

/** ELEMENTS **/
.littledot
{
    cursor: pointer;
    width: 12px;
    height: 12px;
    background-image: url(littledot.png);
    z-index: 5;
    position: absolute;
    border-radius: 31px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
.cmdLink detach{
  margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}


.littledot-hover-hover {
    border: 2px solid orange;
}

.dropHover {
    border: 1px solid orange;
}

/** ELEMENT POSITIONS **/
#ld1 {
 position: absolute;
    top: 153px;
    left: 132px;
}

#ld2 {
 position: absolute;
    top: 78px;
    left: 182px;
}

#ld3 {
 position: absolute;
    top:78px;
    left:272px;
}

#ld4 {
 position: absolute;
    top: 28px;
    left:350px;
}
#ld13 {
 position: absolute;
    top: 28px;
    left:438px;
}

#ld5 {
 position: absolute;
    top:82px;
    left:350px;
}
#ld6 {
 position: absolute;
    top:115px;
    left:352px;
}

#ld7 {
 position: absolute;
    top:97px;
    left:505px;
}
#ld8{
 position: absolute;
    top:182px;
    left:165px;
}


#ld9 {
 position: absolute;
    top:182px;
    left:252px;
}
#ld10 {
 position: absolute;
    top: 200px;
    left: 318px;
    
}
#ld11 {
 position: absolute;
    top: 300px;
    left: 318px;
    
}

#ld12 {
 position: absolute;
    top: 300px;
    left: 230px;
    
}
path, .jtk-endpoint {
    cursor: pointer;
}
